<h4> Leave a Comment</h4>
<%= form_for [@post, @comment] do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', required: true %>
  </div>
  <div class="form-group">
    <%= f.label :body, 'Comment' %>
    <%= f.text_area :body, class: 'form-control', rows: 5, required: true %>
  </div>
    <%= f.submit class: 'btn btn-primary btn-sm', id:'submit_comment' %>
<% end %>