<div class="blog-header">
  <h1 class="blog-title">A Creative Blog Name</h1>
  <p class="lead blog-description">A creative Blog Description here</p>
</div>
<div class="row">
  <div class="col-sm-8 blog-main">
    <% @posts.each do |post| %>
        <div class="blog-post">
          <h2 class="blog-post-title"><%= link_to post.title, "/blog/2017/january/#{post.slug}" %></h2>
          <p class="blog-post-meta"> <%= post.created_at.to_date %> by <a href="#"><%= post.author.name %></a>
            <% if author_signed_in? %>
                <%= link_to '(edit)', edit_post_path(post), class: 'model-action' %>
            <% end %>
          </p>
          <p> <%= post.content %> </p>
        </div>
    <% end %>
    <nav>
      <ul class="pagination pagination-lg">
        <li class="page-item">
          <a class="page-link" href="#">Previous</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
  </div>
  <%= render 'partials/sidebar' %>
</div>