<div class="col-sm-8 blog-main">
  <% @posts.each do |post| %>
      <div class="blog-post">
        <h2 class="blog-post-title"><a href= <%= "/blog/2017/january/#{post.slug}" %>><%= post.title %></a></h2>
        <p class="blog-post-meta"> <%= post.created_at.to_date %> by <a href="#"><%= post.author.name %></a></p>
        <p> <%= post.content %> </p>
      </div>
  <% end %>
  <nav>
    <ul class="pagination pagination-lg">
      <li class="page-item">
        <a class="page-link" href="#">Previous</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>
</div>
